.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
 }

.row div {
    padding: 10px;
    border: 1px solid black;
    height: 60px;
    width: 60px;
    float: left;
    text-align: center;
    margin: 0 auto;
    font-size: 35px;
}

.row {
    clear: both;
}